#all {
  width: 800px;
  height: 360px;
  margin-left:auto;
  margin-right:auto;
    
  /*border: 1px solid;*/
}
#header {
  width: 800px;
  height: 80px;
  background-color:#ADA142;
}
#aside {
  width: 200px;
  height: 200px;
  background-color:#BEC23F;
  float: left;
}
#main {
  width: 600px;
  height: 200px;
  background-color:#D9CD90;
  float: right;
}
#footer {
  width: 800px;
  height: 80px;
  background-color: #4d5139;
  float:left;
  color:#ffffff;
  text-align:center;
  line-height:80px;
}